:root,
::after
::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

input, label, ulist, olist {
    margin: 8px 0;
}

wc-pane details > summary::marker {
    content: "✅";
}

wc-pane details[open] > summary::marker {
    content: "❎";
}